{% extends layout %}
{% load static %}
    
{% block content %}
<script>
    function openInfo() {
        var modal = new bootstrap.Modal(document.getElementById('informacion'));
        modal.show();
    }


    $(document).ready(function () {
        $('[id^="botonModificarHistorial-"]').click(function () { 
            let citaId = $(this).data('info');
            document.getElementById('cita-id-hidden').value = citaId;
            console.log("Cita " + citaId);
        });
    });
</script>

<style>
    .scrollable {
        max-height: calc(100vh - 300px); /* Ajusta el espacio restante de la pantalla */
        overflow-y: auto;
    }
    .card-cita {
        margin-bottom: 10px;
        background-color: rgb(246, 246, 246);
    }
    .pagination {
        justify-content: center; /* Centrar la paginación */
    }
</style>

{% if messages %}
    <div class="alert alert-dismissible">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="modal fade" id="modalModificarHistorial" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url 'modificarHistorial' %}">
                {% csrf_token %}

                <input type="hidden" name="cita_id" id="cita-id-hidden">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Modificar Historial</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="tratamiento" class="form-label">Tratamiento</label>
                        <textarea type="text" name="tratamiento" id="tratamiento" class="form-control" rows="2" required></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="medicacion" class="form-label">Medicación</label>
                        <textarea type="text" name="medicacion" id="medicacion" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container my-4 mt-5"> 
    <h1 class="text-center">Mis Citas</h1>

    <!-- Pestañas para Pendientes e Historial -->
    <ul class="nav nav-tabs" id="citasTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pendientes-tab" data-bs-toggle="tab" data-bs-target="#pendientes" type="button" role="tab" aria-controls="pendientes" aria-selected="true">Pendientes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="historial-tab" data-bs-toggle="tab" data-bs-target="#historial" type="button" role="tab" aria-controls="historial" aria-selected="false">Historial</button>
        </li>
    </ul>

    <div class="tab-content mt-3" id="citasTabsContent">
        <!-- Contenido de la pestaña Pendientes -->
        <div class="tab-pane fade show active" id="pendientes" role="tabpanel" aria-labelledby="pendientes-tab">
            {% for cita in page_obj_pendientes %}
                <div class="card card-cita">
                    <div class="card-body">
                        <p><strong>Mascota:</strong> {{ cita.nombre }}</p>
                        <p><strong>Fecha:</strong> {{ cita.fecha|date:"d/m/Y" }}</p>
                        <p><strong>Hora:</strong> {{ cita.hora|time:"h:i A" }}</p>
                        <p><strong>Descripción:</strong> {{ cita.motivo }}</p>
                    </div>
                </div>
                {% empty %}
                <p>No tienes citas pendientes.</p>
            {% endfor %}

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj_pendientes.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?pendientes_page={{ page_obj_pendientes.previous_page_number }}">Anterior</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj_pendientes.paginator.page_range %}
                        <li class="page-item {% if page_obj_pendientes.number == num %}active{% endif %}">
                            <a class="page-link" href="?pendientes_page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj_pendientes.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?pendientes_page={{ page_obj_pendientes.next_page_number }}">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <!-- Contenido de la pestaña Historial -->
        <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="historial-tab">
            {% for cita in page_obj_historial %}
                <div class="card card-cita">
                    <div class="card-body">
                        <p><strong>Mascota:</strong> {{ cita.nombre }}</p>
                        <p><strong>Fecha:</strong> {{ cita.fecha|date:"d/m/Y" }}</p>
                        <p><strong>Hora:</strong> {{ cita.hora|time:"h:i A" }}</p>
                        <p><strong>Descripción:</strong> {{ cita.motivo }}</p>
                        {% if not cita.esCliente%}
                            {% if not cita.tratamiento or not cita.medicacion %}
                                <button data-bs-toggle="modal" data-bs-target="#modalModificarHistorial" 
                                        data-info="{{ cita.citas_id }}" class="btn btn-info" id="botonModificarHistorial-{{ cita.id }}">
                                    <label class="me-2">Modificar historial</label>
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <p>Aun no has tenido ninguna cita.</p>
            {% endfor %}
            
            <!-- Paginación -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj_historial.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?historial_page={{ page_obj_historial.previous_page_number }}">Anterior</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj_historial.paginator.page_range %}
                        <li class="page-item {% if page_obj_historial.number == num %}active{% endif %}">
                            <a class="page-link" href="?historial_page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj_historial.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?historial_page={{ page_obj_historial.next_page_number }}">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}