<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración Clínica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootswatch.com/5/pulse/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            padding: 20px;
        }
        .chart-container {
            position: relative;
            margin: auto;
            height: 40vh;
            width: 100%;  
        }
        .hidden {
            display: none;
        }

        .list-group-item {
            background-color: white;
            color: black;
            transition: none;
        }

        .list-group-item:hover {
            background-color: white;
            color: black; 
        }
    </style>
</head>
<body>
    <div class="container my-4 mt-5"> 
        <h1 class="text-center mb-5">Administración Clínica</h1>

        {% if messages %}
            <div class="alert alert-dismissible">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#" data-target="estadisticas">Estadísticas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-target="generate-codes">Generar Códigos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-target="users">Usuarios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-target="vets">Veterinarios</a></li>
                </ul>
                <a class="nav-link ms-1" href="{% url 'logout' %}">Cerrar Sesión</a>
            </div>
        </nav>

        <div id="estadisticas" class="content-section">
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <h3>Días de la Semana más Concurridos</h3>
                    <div class="chart-container">
                        <canvas id="daysChart"></canvas>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <h3>Meses más Concurridos</h3>
                    <div class="chart-container">
                        <canvas id="monthsChart"></canvas>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <h3>Número Medio de Mascotas por Cliente</h3>
                    <p>{{ average_pets_per_client }}</p>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <h3>Número Total de Clientes</h3>
                    <p>{{ total_clients }}</p>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <h3>Número Total de Veterinarios</h3>
                    <p>{{ total_vets }}</p>
                </div>
            </div>
        </div>
        
        <div id="generate-codes" class="content-section">
            <h2 class="mb-4">Generar Código</h2>
            <form action="{% url 'custom_admin' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Generar Códigos</button>
            </form>
                
            <h2 class="mt-5">Códigos Generados</h2>
            <ul class="list-group">
                {% for codigo in codigos %}
                    <li class="list-group-item">{{ codigo.codigo }} {% if codigo.utilizado %}(Utilizado){% endif %}</li>
                {% endfor %}
            </ul>
        </div>

        <div id="users" class="content-section hidden">
            <h2>Listado de Clientes</h2>
            <div class="container my-4">
                <div class="row">
                    {% for usuario in clientes %}
                        <div class="col-md-3 mb-4 d-flex"> 
                            <div class="card w-100">
                                <img src="{{ usuario.foto.url }}" class="card-img-top img-fluid" alt="Foto de {{ usuario.first_name }}" style="height: 200px; object-fit: cover;">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ usuario.first_name }} {{ usuario.last_name }}</h5>
                                    <p class="card-text">
                                        <strong>DNI:</strong> {{ usuario.dni }}<br>
                                        <strong>Teléfono:</strong> {{ usuario.telefono }}<br>
                                        <strong>Dirección:</strong> {{ usuario.direccion }}<br>
                                        <strong>Ciudad:</strong> {{ usuario.ciudad }}<br>
                                        <strong>País:</strong> {{ usuario.pais }}<br>
                                        <strong>Código Postal:</strong> {{ usuario.codigo_postal }}<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12">
                            <div class="alert alert-info" role="alert">
                                No hay clientes registrados.
                            </div>
                        </div>
                    {% endfor %}
                </div>
        
                <!-- Paginación -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if clientes.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="Primera">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ usuarios_clientes.previous_page_number }}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
        
                        {% for num in clientes.paginator.page_range %}
                            {% if clientes.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
        
                        {% if clientes.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ clientes.next_page_number }}" aria-label="Siguiente">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ clientes.paginator.num_pages }}" aria-label="Última">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        <div id="vets" class="content-section hidden">
            <h2>Listado de Veterinarios</h2>
            <div class="container my-4">
                <div class="row">
                    {% for veterinario in veterinarios %}
                        <div class="col-md-3 mb-4 d-flex"> 
                            <div class="card w-100">
                                <div class="card-body d-flex flex-column">
                                    <img src="{{ veterinario.foto.url }}" class="card-img-top img-fluid" alt="Foto de {{ veterinario.first_name }}" style="height: 200px; object-fit: cover;">
                                    <h5 class="card-title">{{ veterinario.first_name }} {{ veterinario.last_name }}</h5>
                                    <p class="card-text">
                                        <strong>DNI:</strong> {{ veterinario.dni }}<br>
                                        <strong>Teléfono:</strong> {{ veterinario.telefono }}<br>
                                        <strong>Dirección:</strong> {{ veterinario.direccion }}<br>
                                        <strong>Ciudad:</strong> {{ veterinario.ciudad }}<br>
                                        <strong>País:</strong> {{ veterinario.pais }}<br>
                                        <strong>Código Postal:</strong> {{ veterinario.codigo_postal }}<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12">
                            <div class="alert alert-info" role="alert">
                                No hay veterinarios registrados.
                            </div>
                        </div>
                    {% endfor %}
                </div>
        
                <!-- Paginación -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if veterinarios.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="Primera">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ veterinarios.previous_page_number }}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
        
                        {% for num in veterinarios.paginator.page_range %}
                            {% if veterinarios.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
        
                        {% if veterinarios.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ veterinarios.next_page_number }}" aria-label="Siguiente">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ veterinarios.paginator.num_pages }}" aria-label="Última">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </div>

    <script id="days-data" type="application/json">
        {{ days_data|safe }}
    </script>

    <script id="months-data" type="application/json">
        {{ months_data|safe }}
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const daysCtx = document.getElementById('daysChart').getContext('2d');
            const monthsCtx = document.getElementById('monthsChart').getContext('2d');

            var daysData = JSON.parse(document.getElementById('days-data').textContent);
            var monthsData = JSON.parse(document.getElementById('months-data').textContent);
    
            const daysChart = new Chart(daysCtx, {
                type: 'bar',
                data: {
                    labels: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'],
                    datasets: [{
                        label: 'Citas por Día',
                        data: daysData,
                        backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
    
            const monthsChart = new Chart(monthsCtx, {
                type: 'line',
                data: {
                    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    datasets: [{
                        label: 'Citas por Mes',
                        data: monthsData,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            const navLinks = document.querySelectorAll('.navbar-nav .nav-link');
            const contentSections = document.querySelectorAll('.content-section');

            contentSections.forEach(section => {
                section.classList.add('hidden');
            });
            document.getElementById('estadisticas').classList.remove('hidden');

            navLinks.forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    const target = this.getAttribute('data-target');

                    // Ocultar todas las secciones
                    contentSections.forEach(section => {
                        section.classList.add('hidden');
                    });

                    // Mostrar la sección seleccionada
                    document.getElementById(target).classList.remove('hidden');
                });
            });


        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>   
</body>
</html>